:root{
    --rojoClaro:#EE6C4D;
    --azulFuerte: #3D5A80;
    --azulClaro : #E0FBFC;
    --negro : #293241;
    --blanco : #ffffff;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--rojoClaro);
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(2,1fr) ;
    align-items: center;
    border: 10px solid white;
    width: 45%;
}
.watcher{
    display: flex;
    
}