:root{
    --rojoClaro:#EE6C4D;
    --azulFuerte: #3D5A80;
    --azulClaro : #E0FBFC;
    --negro : #293241;
    --blanco : #ffffff;
    --fuenteReloj : "Kdam Thmor Pro", 'sans-serif';
    --fuenteTexto : "Jost", sans-serif;
}
#body{
    width: 100vw;
    height: 100vh;
    background-color: #86bbd8;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fuenteTexto);
    position: relative;
}
.timer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(2,1fr) ;
    align-items: center;
    border: 2px solid white;
    width: 35%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    height: auto;
}

.watcher{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.time{
    font-family: var(--fuenteReloj);
    font-size: 90px;
    margin: 0px;

}
.secciones {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-bottom: 12px;
}
@media(max-width:800px){
    .timer{
        width:70% ;
}
.secciones{
    width: 70%;
}
}

@media(max-width:400px){
    .timer{
        width: 90%;
    }
    .secciones{
        width: 90%;
    }
}
.activo{
    background-color: #a3cef1;

    color: white;
    font-size: 20px;
}
.breack{
    background-color: #678d58;
    color: white;
    font-size: 20px;
}
.long_breack{
    background-color: #3a0ca3;
    color: white;
    font-size: 20px;
}
.partes{
    cursor: pointer;
    padding: 10px;
    font-family: var(--fuenteTexto);
    padding: 10px;
    border: 0;
    border-radius: 8px;
}
.start_stop{
 display: flex;
 justify-content: center;   
}
/* .btn_activo{
    display: block;
    
}
.btn_escondido{
    display: none;
     */

#start{
    
    padding: 10px 30px;
    border: 0;
    border-radius: 7px;
    background-color: #ef476f;
    font-family: var(--fuenteTexto);
    font-size: 30px;
}
#stop{
    
    padding: 10px 30px;
    border: 0;
    border-radius: 7px;
    background-color: #ffc20e;
    font-family: var(--fuenteTexto);
    font-size: 30px;
}
#addTask{
    width: 45px;
    height: 45px;
    object-fit: cover;
    background-color:#d81159 ;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    right: 46%;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.to-do-list{
    margin-bottom: 35px;
    display: flex;
  justify-content: center;
  flex-direction: column;

}
input{
    border: 3px solid #e5e5e5;
    border-radius: 3px;
    margin: auto;
    height: 2rem;
    width: 75%;
}
.contenedor_svg{
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}
.contenedor_svg_cancel{
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}
.svg{
    width: 100%;
    height: 100%;
}
.svg_cancel{
    width: 100%;
    height: 100%;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
  width: 85%;
}
.juntos{
    display: flex;
  align-items: center;
  gap: 10px;
}
.title{
    width: 80%;
    margin: auto;
}
footer{
    width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_logo{
    width: 6rem;
  height: 6rem;
}

.title_ctc_ftr{
    margin: 0;
    font-size: 20px;
    color: white;
}
.autor{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.links-footer{
    display: flex;
    gap: 1rem;
}
.logo_footer{
    width: 1.5rem;
    height: 1.5rem;
}
.info_contact{
    margin: 0px;
    margin-right: 20px;
}
.contacto_footer{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
